* {
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --soft-red: hsl(14, 88%, 65%);
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  margin: 0%;
  padding: 0%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
  background: linear-gradient(var(--soft-violet), var(--soft-blue));
  font-family: "Kumbh Sans", sans-serif;
}

img,
.faq_container,
.container {
  /* outline-style: solid; */
  outline-width: 2px;
  outline-color: black;
}

.general_container {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  height: 60vh;
  background-color: white;
  border-radius: 30px;
}

.faq_container {
  padding: 2%;
  width: 50%;
  margin-right: 8%;
  margin-left: 5%;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}

.accordion-item {
  border-radius: 0.4rem;
  padding: 0.5rem 0;
}

.accordion-link {
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-item:target {
  font-weight: 700;
}

.accordion-item:link {
  color: var(--soft-red);
}

.accordion-link:visited {
  color: black;
}

.answer {
  margin: 0.6rem 0;
  max-height: 0;
  overflow: hidden;
  position: relative;
  transition: max-height 500ms;
  color: var(--very-dark-desaturated-blue);
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.accordion-item:target .answer {
  max-height: 25rem;
}

.image_container {
  width: 50%;
  position: relative;
  top: 0%;
  left: 0%;
  overflow: hidden;
}

.pattern {
  position: relative;
  width: 200%;
  height: 200%;
  top: -65%;
  left: -120%;
  z-index: 1;
}

.woman {
  position: absolute;
  width: 100%;
  height: 70%;
  left: -20%;
  top: 20%;
  z-index: 2;
}

.box {
  position: absolute;
  z-index: 3;
}

.box {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.hide {
  max-height: 0;
  overflow: hidden;
  transition: opacity 1s ease-in-out;
}

.makeBold {
  font-weight: 700;
}

.arrow {
  width: 12px;
}

.accordion-item:target .accordion-link img {
  transform: rotate(-180deg);
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: lightgray;
  height: 1px;
}

h1 {
  font-weight: 700;
  margin-bottom: 2rem;
  font-size: 2rem;
}
