/* Variables */
:root {
  --dark-blue: hsl(209, 23%, 22%); /* Dark mode elements */
  --very-dark-blue: hsl(207, 26%, 17%); /* Dark mode background */
  --very-dark-blue-text: hsl(200, 15%, 8%); /* Light mode text */
  --dark-gray: hsl(0, 0%, 52%); /* Light mode input */
  --very-light-gray: hsl(0, 0%, 98%); /* Light mode background */
  --white: hsl(0, 0%, 100%); /* Dark mode text & light mode elements */
  --transition-delay: 0.3s;
}

/* Reset */
body,
button,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

button {
  all: unset;
  border: none;
  cursor: pointer;
}

/* Base styles */
body {
  /* White theme */
  --background-color: var(--very-light-gray);
  --text-color: var(--very-dark-blue-text);
  --input-color: var(--dark-gray);
  --elements-color: var(--white);

  color: var(--text-color);
  background-color: var(--background-color);
  min-width: 375px;
  overflow-x: hidden;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  min-width: 375px;
  transition: var(--transition-delay);
}

body.dark {
  --background-color: var(--very-dark-blue);
  --elements-color: var(--dark-blue);
  --text-color: var(--white);
  --input-color: var(--white);
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
}

h3 {
  font-weight: 300;
  font-size: 0.9rem;
}

h2 {
  font-weight: 600;
  font-size: 1rem;
}

h1 {
  font-weight: 800;
  font-size: 1.2rem;
}

/* Mobile styles */

/* header section */
header {
  width: 100%;
  height: 70px;
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--elements-color);
}

header button {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  padding: 5px 0;
  background-color: var(--elements-color);
  cursor: pointer;
  color: var(--text-color);
}

header button svg {
  width: auto;
  height: 15px;
  margin-right: 5px;
  fill: var(--text-color);
  transition: var(--transition-delay);
}

/* Main Styles */
main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px 15px;
}

.search-filter {
  box-sizing: border-box;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Search styles */
.search-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--elements-color);
  height: 30px;
  border-radius: 5px;
  padding: 10px 15px;
}

.search-bar input {
  width: 100%;
  border: none;
  color: var(--text-color);
  background-color: var(--elements-color);
  height: 100%;
  font-weight: 300;
  font-size: 0.9rem;
}

.search-bar input::placeholder {
  color: var(--input-color);
}

.search-bar input:focus {
  outline: none;
}

.search-bar svg {
  width: 25px;
  margin: 0 15px;
  padding: 8px 8px;
  cursor: pointer;
  stroke: var(--text-color);
  transition: var(--transition-delay);
}

/* Filter styles */
.filter-button {
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.dropdown-container:hover,
.dropdown-container:focus {
  cursor: pointer;
}

.filter-button svg {
  width: 12px;
  height: auto;
  fill: var(--text-color);
  transition: var(--transition-delay);
}

/* Dropdown styles */
.dropdown-container {
  position: relative;
  display: inline-block;
  width: 40%;
  height: 20px;
  border-radius: 5px;
  background-color: var(--elements-color);
  padding: 10px 15px;
}

.options {
  display: none;
  opacity: 0;
  background-color: var(--elements-color);
  padding: 10px 0;
  margin-top: 15px;
  width: 100%;
  position: absolute;
  left: 0;
  overflow: auto;
  z-index: 1;
  border-radius: 5px;
}

.options.open {
  display: block;
  opacity: 1;
}

.options h3 {
  padding: 5px 15px;
  display: block;
}

.options h3:hover,
.options h3:focus {
  font-weight: 600;
}

/* Countries section */
.outer-container {
  display: flex;
  justify-content: center;
}

.countries-container {
  box-sizing: border-box;
  width: 100%;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 55px;
  column-gap: 50px;
}

.country-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 250px;
  border-radius: 5px;
}

.country-box:hover,
.country-box:focus {
  cursor: pointer;
  transform: scale(1.03);
  transition: var(--transition-delay);
}

.country-box img {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 5px 5px 0 0;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
  width: 100%;
  height: 150px;
  background-color: var(--elements-color);
  color: var(--text-color);
  padding: 20px;
}

.info-container strong {
  font-weight: 600;
}

.info-container h1 {
  margin-bottom: 10px;
}

/* Error countries section */
.gif-error {
  object-fit: contain;
}

/* Country details styles */
main.country-main {
  padding: 40px 25px;
  box-sizing: border-box;
  background-color: var(--background-color);
}

main button.back {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--elements-color);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  margin-bottom: 50px;
  padding: 5px 5px;
}

button.back svg {
  margin-right: 8px;
  stroke: var(--text-color);
  transition: var(--transition-delay);
}

main button.back:hover,
main button.back:focus {
  transform: scale(1.06);
  transition: var(--transition-delay);
}

.element-centering {
  display: flex;
  justify-content: center;
}

.country-container img {
  width: 100%;
  max-height: 220px;
  max-width: 440px;
  object-fit: fill;
}

.country-container img:hover,
.country-container img:focus {
  transform: scale(1.02);
  transition: var(--transition-delay);
}

.details-container {
  margin-top: 30px;
  line-height: 30px;
}

.details-container h3 {
  display: block;
}

.details-container strong {
  font-weight: 600;
}

.general-details-container {
  margin-top: 15px;
}

.more-details-container {
  margin-top: 25px;
}

.border-countries-container {
  margin-top: 25px;
}

.border-countries-buttons {
  width: 100%;
  display: flex;
  row-gap: 10px;
  column-gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.border-countries-buttons button {
  width: auto;
  min-width: 70px;
  text-align: center;
  background-color: var(--elements-color);
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 6px;
  padding: 0 15px;
  font-size: 0.8rem;
}

.border-countries-buttons button:hover,
.border-countries-buttons button:focus {
  transform: scale(1.06);
  transition: var(--transition-delay);
}

/* Tablet Styles */
@media screen and (min-width: 660px) {
  header {
    padding: 20px 30px;
  }

  main {
    padding: 20px 30px;
  }

  .search-filter {
    margin-top: 20px;
    height: 50px;
    flex-direction: row;
    align-items: center;
  }

  .search-bar {
    width: 40%;
    max-width: 400px;
  }

  .dropdown-container {
    height: 30px;
    width: 20%;
    max-width: 160px;
  }

  .countries-container {
    padding: 40px 0;
  }

  /* Country details */
  main.country-main {
    width: 660px;
    max-width: 660px;
  }

  .country-main button.back {
    width: 100px;
  }

  .country-container img {
    max-width: 440px;
  }

  .general-details-container {
    margin-top: 0;
    width: 45%;
  }

  .more-details-container {
    margin-top: 0;
  }

  .details-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 15px;
  }
}

/* Large Tablet Styles */
@media screen and (min-width: 900px) {
  header {
    box-sizing: border-box;
    padding: 20px 50px;
  }

  main {
    padding: 20px 50px;
    max-width: 1250px;
  }

  .countries-container {
    max-width: 1440px;
    gap: 50px;
  }

  /* Country details */
  main.country-main {
    width: 100%;
    max-width: 1440px;
    padding: 40px 50px;
  }

  .country-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .country-container .element-centering img {
    object-fit: cover;
    height: 350px;
    width: 490px;
    max-width: 100%;
    max-height: 100%;
  }

  .country-container .details-container {
    margin-top: 0;
    height: 350px;
    width: 490px;
  }
}

/* Desktop Styles */
@media screen and (min-width: 1440px) {
  header {
    padding: 20px 64px;
  }

  main {
    padding: 20px 64px;
    max-width: 1440px;
  }

  .countries-container {
    gap: 64px;
  }

  .country-box {
    width: 280px;
  }

  /* Country details */

  main.country-main {
    width: 100%;
    max-width: 1440px;
    padding: 40px 64px;
  }
}
