* {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);

  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.white-area {
  /* outline-style: solid; */
  outline-color: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  background-image: url(../images/bg-intro-desktop.png);
  background-color: var(--red);
}

.container {
  height: 70vh;
  width: 70vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.learn-to-code {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.learn-box {
  display: flex;
  flex-direction: column;
  color: white;
  box-sizing: border-box;
  width: 70%;
}

.learn-box h1 {
  font-weight: 700;
  font-size: 2.2rem;
  margin: 0;
  line-height: 2.3rem;
  margin-bottom: 1.5rem;
}

.learn-box p {
  font-weight: 400;
  font-size: 0.9rem;
}

.log-in-section {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
}

.try-it-for-free {
  width: 90%;
  margin-top: 2.5rem;
  border-radius: 10px;
  height: 7%;
  background-color: var(--blue);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  font-size: 1rem;
  box-shadow: 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
}

.try-it-for-free span {
  font-weight: 600;
  color: var(--grayish-blue);
}

.white-area {
  width: 90%;
  border-radius: 10px;
  background-color: white;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.fields {
  display: flex;
  flex-direction: column;
  margin-top: 2.2rem;
  width: 90%;
}

.fields input {
  margin: 1rem 0;
  height: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  padding: 1.5rem;
  border-radius: 0.4rem;
  border: solid var(--grayish-blue) 0.5px;
}

.fields input::placeholder {
  color: var(--grayish-blue);
}

.fields input {
  color: var(--blue);
}

.fields input:focus {
  outline: none !important;
  border: 1px solid var(--dark-blue);
}

input[type="submit"] {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--green);
  font-size: 1rem;
  font-weight: 600;
  height: 2rem;
  color: white;
  box-shadow: 0 0.3rem 0.1rem rgb(45, 161, 111);
  border: none;
}

.terms-and-services {
  display: flex;
  justify-content: center;
  width: 90%;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--grayish-blue);
  margin-bottom: 3rem;
}

.terms-and-services > span {
  color: var(--red);
}
