* {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);

  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container,
.log-in-section,
.learn-box,
.terms-and-services,
.fields {
  outline-style: solid;
  outline-color: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  background-image: url(../images/bg-intro-desktop.png);
  background-color: var(--red);
}

.container {
  height: 70vh;
  width: 70vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.learn-to-code {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.learn-box {
  display: flex;
  flex-direction: column;
  color: white;
  box-sizing: border-box;
  width: 70%;
}

.learn-box h1 {
  font-weight: 700;
  font-size: 2.2rem;
  margin: 0;
  line-height: 2.3rem;
  margin-bottom: 1.5rem;
}

.learn-box p {
  font-weight: 400;
  font-size: 0.9rem;
}

.log-in-section {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
}

.try-it-for-free {
  width: 90%;
  border-radius: 10px;
  height: 7%;
  background-color: var(--blue);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  font-size: 1rem;
}

.try-it-for-free span {
  font-weight: 600;
}

.white-area {
  width: 90%;
  border-radius: 10px;
  background-color: white;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.fields {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.fields input {
  margin: 1rem 0;
  height: 1.5rem;
  font-size: 14px;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 7px;
  border: solid black 0.5px;
}

#claim {
  background-color: var(--green);
  font-size: 16px;
  font-weight: 500;
  /* height: 3rem; */
}

.terms-and-services {
  width: 90%;
}
